<%@interests.each do |interest|%>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%=interest.description%></td>
      <td><%=link_to 'show', interest_path(interest.id) %></td>
      <td><%=link_to 'Edit', edit_interest_path(interest.id) %></td>
    </tr>
  </tbody>
</table>
<%end%>